@-moz-document domain("notion.so"), domain("notion.site") {
    .notion-frame, .notion-sidebar, .notion-overlay-container {
        direction: rtl;
    }
    
    .notion-frame .notion-scroller .notion-page-controls svg,
    .notion-overlay-container .notion-scroller .notion-page-controls svg {
        margin-right: 0 !important;
        margin-left: 6px
    }
    
    .notion-topbar svg.check,
    .notion-overlay-container svg.check {
        margin-right: 0 !important;
        margin-left: 6px;
    }
    
    .notion-frame .notion-page-content .notion-quote-block .notranslate {
        border-left: 0 !important;
        border-right: 3px solid;
    }
    
    .notion-frame .notion-page-content .notion-to_do-block .notranslate,
    .notion-frame .notion-page-content .notion-bulleted_list-block .notranslate {
        text-align: right !important;
    }
    
    #notion-app .notion-sidebar-container {
        float: right;
        right: 0;
        position: absolute !important;
        max-height: 100%;
        height: 100vh;
    }
    
    #notion-app .notion-frame {
        float: left;
        left: 0;
        position: fixed;
    }
    
    .notion-help-button {
        right: 100%;
        left: 33px;
    }
    
    /* LTR support for code blocks */
    .notion-code-block {
        direction: ltr;
    }
    
}